/*
CSS for store locator application
*/
#locatorContainer p{margin-top:0px;}
#locatorContainer cufon{overflow:hidden;}
#locatorContainer{background-color:#fff;clear: both;}

#locatorHeader{background-image: url(/stores/images/stores-banner.jpg);background-repeat:no-repeat;background-position:top right;height:112px;padding-top:34px;padding-left:42px;}
    #locatorHeader p{width:480px;font-size:12px;}
    
#locatorForm, #error{color:#fff;padding:20px;padding-left:34px;}  
    .page-stores .h1 { float:left; clear:left; margin-top:7px; font-size:25px !important; line-height:1.5em; clear:both;margin-bottom:7px;} 
    #locatorForm .h2{margin-bottom:10px;}
        #error h2{font-size:24px;}
    #locatorForm form{display:inline-block;padding-top:15px;padding-bottom:20px;}
    #locatorForm h2{font-size:25px;font-weight:normal;color:#fff;margin-bottom:15px;}
    #locatorFormOptions{margin:0px;padding:0px;}
    #locatorFormOptions li{float:left;list-style-type: none;margin-right: 10px;font-size: 11px;}
        .ie9 #locatorFormOptions li, .lt-ie9 #locatorFormOptions li{margin-right: 7px;}
    #locatorFormOptions label{position: relative;left: -3px;}
    #locatorFormOptions label:hover{color:#6fdbdb;}
    #locatorContainer #zipcode{font-size:16px;padding:3px;width:190px;margin-right:10px;}
    #locatorContainer #submit{font-size:16px;border:0px;padding:5px;padding-left:15px;padding-right:15px;color:#fff;}
    #locatorContainer #submit:hover{position:relative;background:#6fdbdb;background:-webkit-gradient(linear,0 0,0 bottom,from(#6fdbdb),to(#57b5b0));background:-webkit-linear-gradient(#6fdbdb,#57b5b0);background:-moz-linear-gradient(#6fdbdb,#57b5b0);background:-ms-linear-gradient(#6fdbdb,#57b5b0);background:-o-linear-gradient(#6fdbdb,#57b5b0);background:linear-gradient(#6fdbdb,#57b5b0);-pie-background:linear-gradient(#6fdbdb,#57b5b0);behavior:url(/_themes/libs/PIE.htc)}
    
.icons{margin-left:2px;height:20px;width:20px;overflow:hidden;text-indent:-9999px;background-image: url(/stores/images/icons.png);background-repeat:no-repeat;background-position:2px 0px!important;display:inline-block;position: relative;top: 4px;}    
    .icon-reboost{background-position:0px -37px!important;}
    .icon-wallet{background-position:0px -76px!important;margin-right: 5px;}
    .icon-pin{background-position:0px -118px!important;margin-right: 5px;}
    .icon-boost{background-position:0px -155px!important;margin-right: 4px;}
    .icons-callout{padding-left: 7px;float:left;position: relative;top: -6px;}
        #locatorFormOptions{}
            #locatorFormOptions .icon-phone{width:12px;}
            #locatorFormOptions .icon-reboost{width:15px;}
    
#locatorFeatured{position:relative;background:#fff;border:1px solid #e3e3e3;background:-webkit-gradient(linear,0 0,0 bottom,from(#fff),to(#eff0ef));background:-webkit-linear-gradient(#fff,#eff0ef);background:-moz-linear-gradient(#fff,#eff0ef);background:-ms-linear-gradient(#fff,#eff0ef);background:-o-linear-gradient(#fff,#eff0ef);background:linear-gradient(#fff,#eff0ef);-pie-background:linear-gradient(#fff,#eff0ef);behavior:url(/_themes/libs/PIE.htc)}
    #locatorFeatured ul{margin:0px;padding:0px;}
    #locatorFeatured li{float:left;width:288px;margin:0px;padding:0px;padding-top:10px;padding-bottom:10px;list-style-type: none;border-right:1px dotted #a5a4a5;text-align:center;}
    
    #locatorFeatured li:last-child{border:0px;}
    #locatorFeatured .title{color:#000;margin-bottom:20px;}
    #locatorFeatured .title span{color:#f7901e;}

#locatorResults{padding-bottom:35px;padding-top:20px;}
    #locatorTop, .showing-results, #adBox{padding-left:35px;padding-right:35px;}
    .cell{padding-left:35px;}
    #locatorResults h1{font-size:25px;margin-bottom:0px;}
#locatorFeatured, #locatorNormal, #adBox{color:#7f7f7f;font-size:12px;}   
    #locatorFeatured{padding:10px;padding-bottom:15px;padding-top:15px;margin-top: 15px;}
    #locatorNormal{padding-top:20px;}
    #locatorResults table{width:100%;}
        #locatorResults .title{color:#807f80;font-size:20px;display:block;padding-bottom:5px;margin-bottom: 5px;}
        #locatorResults .showing-results{border-bottom:1px dotted #a5a4a5;padding-bottom:20px;}
    #locatorNormal h2, #locatorFeatured h2{display: inline-block;font-size:16px;}
    #locatorNormal h2 a{font-size:16px;}
    #locatorContainer a, #locatorContainer a:visited{color:#f7901e;letter-spacing: 0px;}
        #locatorContainer a:hover{color:#6fdbdb;}
    #locatorNormal tr {border-bottom:1px dotted #a5a4a5;}
    .preferred{background-color:#f9fbfa;}
    #locatorNormal td{padding-top:20px;padding-bottom:20px;vertical-align: middle;}
    .cell{width:40%;}
    .centerTextvert{width:20%;text-align:center;}
    .centerTextvert2{width:20%;text-align:center;}
    .centerText{width:20%;text-align:center;}
    
#pagination{text-align:center;padding-top:10px;}
    #pagination ul{margin:0px;padding:0px;display:inline-block;margin-left:auto;margin-right:auto;}
    #pagination li{float:left;margin:0px;padding:0px;list-style-type: none;}
    #pagination a{display:block;width:25px;line-height:25px;text-decoration: none;color:#fff!important;margin-right:3px;
                  -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
                  position:relative;background:#434343;background:-webkit-gradient(linear,0 0,0 bottom,from(#8b8989),to(#434343));background:-webkit-linear-gradient(#8b8989,#434343);background:-moz-linear-gradient(#8b8989,#434343);background:-ms-linear-gradient(#8b8989,#434343);background:-o-linear-gradient(#8b8989,#434343);background:linear-gradient(#8b8989,#434343);-pie-background:linear-gradient(#8b8989,#434343);behavior:url(/_themes/libs/PIE.htc)}
    #pagination a:hover{position:relative;background:#f7901e;background:-webkit-gradient(linear,0 0,0 bottom,from(#f7901e),to(#d1581c));background:-webkit-linear-gradient(#f7901e,#d1581c);background:-moz-linear-gradient(#f7901e,#d1581c);background:-ms-linear-gradient(#f7901e,#d1581c);background:-o-linear-gradient(#f7901e,#d1581c);background:linear-gradient(#f7901e,#d1581c);-pie-background:linear-gradient(#f7901e,#d1581c);}
    #locatorContainer #pagination .active{cursor:default;background:#6fdbdb;background:-webkit-gradient(linear,0 0,0 bottom,from(#6fdbdb),to(#57b5b0));background:-webkit-linear-gradient(#6fdbdb,#57b5b0);background:-moz-linear-gradient(#6fdbdb,#57b5b0);background:-ms-linear-gradient(#6fdbdb,#57b5b0);background:-o-linear-gradient(#6fdbdb,#57b5b0);background:linear-gradient(#6fdbdb,#57b5b0);-pie-background:linear-gradient(#6fdbdb,#57b5b0);}
    
#adBox{padding-top:20px;padding-bottom:0px;}
    #adBox h3{font-size:16px;margin:0px;}
    
.st-tooltip{width:200px;}
    .st-tooltip-name{margin:0px;}
    .gm-style-iw div{overflow:hidden;}
    
.legend{float:right;margin-top: 5px;display:none;}